<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatter CARD App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/base-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/retina.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <div class="pure-g">
        <div class="pure-u-1">
            <div id="header">
                <div id="main"><img src="/logo.png" alt=""></div>
                    <button id="newTopicButton" type="submit">Create New Topic Card</button>
            </div>
        </div>
    <div id="modal">
        <div class="modalContent">
            <div class="modalHeader">
                <h3 id="headerModal">Create new topic for us to CHATTER on!</h3>
                <button class="pure-button small-button" id="closeModal">X</button>
            </div>
            <div class="modalBody">
                <form id="modalForm" method="POST" action="/topics">
                    <label for="username">Username: <input id="username" type="text" name="username"></label>
                    <label for="topicTitle">Topic Title: <input id="topicTitle" type="text" name="title"></label>
                    <button id="makeCard" class="pure-button" type="submit">CARD IT!</button>
                </form>
            </div>
        </div>
    </div> <!-- end modal div -->
       <div class="cardContainer">
        <% dbData.forEach(function(topic){ %>
            <a class="cardLink" href="/topics/<%= topic.id %>">
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
                    <div class="topicCard content">
                    <div class="topicTitle">
                        <h3 id="titleOfTopic"><%= topic.title %></h3>
                    </div>
                    <div class="stats">
                        <span id="hiFivesCount"><i class="fa fa-hand-paper-o"></i> <%= topic.hi_fives %></span>
                        <span id="commentCount"><i class="fa fa-comment-o"></i> <%= topic.comment_count %></span>
                    </div>
                  </div><!-- end content div -->
                </div>
            </a>    
        <% }); %> 
        
       </div> <!-- end cardContainer -->
    </div> <!-- end pure-g div -->
    <script src="modal.js"></script>
</body>
</html>