<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatter CARD Topic Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/base-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/retina.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="pure-g">
        <div class="pure-u-1">
            <div id="header">
                <div id="main"><img src="/logo.png" alt=""></div>
                    <form id="mainMenu" method="GET" action="/">
                        <button id="backToMainMenu" class="pure-button" type="submit">Back to Main Menu</button>
                    </form>
            </div>
        </div>

        <div class="pure-u-1">
          <div class="cardView">
            
             <h2 id="titleTopic"><%= dbData.title %></h2>
            <p class="authorInfo">posted <%= dbData.post_date %> by <%= dbData.username %> in <span class="authorLocation"><%= dbData.user_location %> </span></p>

            <form  method="POST" action="/topics/<%= dbData.id %>/edit?_method=PUT">
                <button id="hiFive" name="hiFiveHit" type="submit" class="pure-button"><i id="hand" class="fa fa-hand-paper-o"></i> Hi-Five Topic</button>
            </form>

            <div class="comments">
                <h3 id="chatterTitle">The Chatter:</h3>
                <% comments.forEach(function(comment){ %>
                    <p class="theComments"><img class="commentorAvatar" src="<%= comment.user_avatar %>" /> <span class="commentorInfo"><%= comment.username %></span>  &nbsp; posted on <%= comment.comment_date %>, <span class="commentorLocation"><%= comment.user_location %></span>  &nbsp;
                        <%= comment.comment %>
                    </p>
                <% }); %>
                
            </div>
            
            <form id="userCommentForm" method="POST" action="/comments">
                <h3 id="chatterTitle">Add Chatter: </h3>
                <input type="hidden" name="topic_id" value="<%= dbData.id %>">
                <label id="usernameLabel" for="username">Username: <input id="username" type="text" name="username"></label>
                <label id="userCommentLabel" for="userComment">Your Chatter: <textarea name="comment" id="userComment" cols="30" rows="8"></textarea></label>

                <button id="submitComment" type="submit" class="pure-button">Submit Chatter</button>
            </form>
           </div><!-- end cardView div -->
        </div><!-- end pure-u-1 div -->
    </div> <!-- end pure-g div -->    
</body>
</html>