@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400italic,600);

body {
    //background-color: teal;
    font-family: 'Josefin Sans', sans-serif;
    min-height: 1000px;
   
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0b5655+0,10807f+100 */
    background: rgb(11,86,85); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(11,86,85,1) 0%, rgba(16,128,127,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(11,86,85,1)), color-stop(100%,rgba(16,128,127,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(11,86,85,1) 0%,rgba(16,128,127,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(11,86,85,1) 0%,rgba(16,128,127,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(11,86,85,1) 0%,rgba(16,128,127,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(11,86,85,1) 0%,rgba(16,128,127,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b5655', endColorstr='#10807f',GradientType=0 ); /* IE6-9 */

    background-repeat: repeat-x;
}

h1, h2, h3, h4, h5, p {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

.pure-g {
    max-width: 1170px;
    margin: 0 auto;
    letter-spacing: 0;
}

#header {
    min-height: 180px;
    padding: 10px 20px;
   
}

#main {
    color: white;
    margin: 0 auto;
    width: 200px;
}

#newTopicButton, #backToMainMenu {
    font-family: 'Josefin Sans', sans-serif;
    width: 55%;
    color: teal;
    padding: .80em 1.2em;
    background-color: white;
    border: none;
    border-radius: 3px;
    margin: 20px 22%;
}

#newTopicButton:hover, #backToMainMenu:hover {
    opacity: .80;
}

.pure-button {
    //padding: .80em 1.2em;
    //background-color: white;
}

/* Modal */

#modal {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
}

.modalContent{
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    top: 100px;
    width: 90%;
    height: 50%;
    //border-radius: 5px;
}

.modalHeader{
    position: absolute;
    background-color: #fff;
    width: 100%;   
    top: 10px; 
}

#headerModal {
    line-height: 1.15em;
    padding: 0px 15px;
}

.modalBody{
    position: absolute;
    width: 100%;
    top: 80px;
    background-color: #fff;
    border-top: 2px solid teal;
}

#closeModal {
    position: absolute;
    top: -5px;
    left: 89%;
    color: teal;
    background: none;

}

#modalForm{
    margin-top: 0px;
}

.small-button {
    padding: 6px 12px;
}

#username {
    margin: 10px 0px 25px;
}

#topicTitle{
    width: 98%;
    margin: 10px 0;
}

input, label {
    display: block;
    font-family: 'Josefin Sans', sans-serif;
}

label {
    margin: 20px;
}

#makeCard {
    font-family: 'Josefin Sans', sans-serif;
    background-color: teal;
    color: white;
    margin: 20px;
}

/* Topic Index on Homepage */
.cardContainer {
    width: 85%;
    margin: 10px auto;
}

.cardLink:link {
    color: black;
    text-decoration: none;
}

.cardLink:hover {
    opacity: .75;
}

.topicCard {
    //width: 280px;
    position: relative;
    min-height: 150px;
    background: white;
    //padding: 10px;
    margin: 10px;
    -webkit-box-shadow: 0px 5px 14px 5px rgba(50, 50, 50, 0.70);
    -moz-box-shadow:    0px 5px 14px 5px rgba(50, 50, 50, 0.70);
    box-shadow:         0px 5px 14px 5px rgba(50, 50, 50, 0.70);
}

.content {
    padding: 10px 15px;
}

.stats{
    position: absolute;
    bottom: 20px;
}

#hiFivesCount{
    margin-right: 15px;
}


/* Card View Page show.html */

.cardView {
    background: white;
    width: 80%;
    margin: 0 auto;
    padding: 20px 20px 0px;
    -webkit-box-shadow: 0px 5px 14px 5px rgba(50, 50, 50, 0.70);
    -moz-box-shadow:    0px 5px 14px 5px rgba(50, 50, 50, 0.70);
    box-shadow:         0px 5px 14px 5px rgba(50, 50, 50, 0.70);
}

#titleTopic {
    color: teal;
    font-weight: 400;
    margin-top: 10px;
}

.comments {
    margin: 30px 0px;
}

#userCommentForm {
    padding-bottom: 25px;
    margin: 30px 0px;
}

#chatterTitle {
    margin: 0px;
    color: teal;
    font-weight: 400;
}

#submitComment, #hiFive {
    font-family: 'Josefin Sans', sans-serif;
    background-color: teal;
    color: white;
    border-radius: 3px;
}

#authorInfo{

}

.theComments {
    line-height: 1.2em;
}

.commentorAvatar {
    width: 32px;
    height: 32px;
}

.commentorInfo {
    color: teal;
    font-weight: 400;
}

#usernameLabel {
    margin: 20px 0px;
}

#userCommentLabel {
    margin: 20px 0px;
    display: block;
}

#userComment {
    display: block;
    border: 1px solid #ccc;
    margin: 10px 0px 25px;
}


@media only screen and (min-width: 480px) and (max-width: 767px) {

#closeModal {
    position: absolute;
    top: 10px;
    left: 90%;
    background-color: teal;
    color: white;
    }

 .modalContent {
    height: 40%;
 }   
}

@media only screen and (min-width: 768px) and (max-width: 959px) {

.pure-u-md-1-2 {
    width: 49%;
}

#main {
    float: left;
    width: 50%;
}

#mainMenu {
    width: 50%;
}

#newTopicButton, #backToMainMenu {
    width: 25%;
    margin: 60px 15px;
    float: right;
    }
}

.modalContent {
    width: 75%;
    height: 35%;
}

#closeModal {
    top: 10px;
    //left: 90%;
    background-color: teal;
    color: white;
}

@media only screen and (min-width: 960px) {

.pure-u-lg-1-3 {
    width: 32.3333%;
}

#main {
    float: left;
    width: 50%;
}

#newTopicButton, #backToMainMenu {
    width: 25%;
    margin: 60px 15px;
    float: right;
    }

/* Modal for Desktop size */

.modalContent{
    width: 55%;
    height: 40%;
    top: 150px;
}

.modalHeader{
    //position: absolute;
    //background-color: #fff;
    //width: 100%; 
    //top: 10px;   
}

#closeModal {
    left: 92%;
    background-color: teal;
    color: white;
}

.cardContainer {
    width: 95%;
    margin: 0px auto;


}

@media only screen and (min-width: 1280px) {

.pure-u-xl-1-4 {
    width: 24%;
   } 
}
} 